---
title: Головна
layout: main
---
<style>
    @media (min-width: 992px) {
        .main_page__logo {
            border-right: 1px solid #dee2e6;
        }

        .main_page__logo > object {
            height: 150px;
        }
    }

    .main_page__logo > object {
        max-width: 100%;
    }
</style>

<div class="jumbotron jumbotron-fluid text-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-12 main_page__logo text-center">
                <object class="main_logo" data="/img/audax_dnipro-01.svg" type="image/svg+xml"></object>
            </div>
            <div class="col-lg-8 col-12 text-center">
                <p class="lead">
                    <s>

                    Рандонерський клуб Audax Dnipro – організатор велозаїздів за правилами французького клубу
                    Audax Club Parisien (Парижський клуб відчайдушних).
                    </s>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <p class="my-3">
        <s>
        Метою нашого клубу є проведення серії заходів – бреветів – велозаїздів на фіксовані дистанції з обмеженим
        максимальним часом проходження. Кожен учасник заїзду (рандонер), що пройде дистанцію за цей час (не перевищуючи
        заданого максимуму), вважається переможцем. Кожен учасник, який виконав усі вимоги бревету, має можливість за
        власні гроші отримати медаль від Audax Club Parisien.
        </s>
    </p>

    <p class="my-3">
        <s>
        Таким чином, бревет – це змагання кожного учасника із самим собою за свої можливості. Це пригода, яка дає змогу
        перевірити свою готовність до певних обставин та умов. Це подорож, яку можна провести сам на сам або в компанії
        друзів. Якщо ти готовий кинути собі цей виклик – приєднуйся до нас у наступних заїздах.
        </s>
    </p>

    <hr>

    <p class="my-3">
        Оскільки з початку повномасштабного вторгнення в Україну французький клуб відчайдушних (ACP) ніякими діями не
        засудив акт агресії <sub>р</sub>осійської <sub>ф</sub>едерації проти України, клуб Audax Dnipro не бачить
        доцільності продовжувати співпрацю по органцізації та проведення бреветів.
    </p>

    <span>Листування з ACP і позиції інших клубів:</span>
    <ul>
        <li><a href="/public/dec-27 Re:_TR:_Open_letter_to_the_management_of_Audax_Club_Parisen_and.pdf">
            <i class="fas fa-file-pdf"></i>
            dec-27 Re:_TR:_Open_letter_to_the_management_of_Audax_Club_Parisen_and.pdf
        </a></li>
        <li><a href="/public/dec-27 RE_Open_letter_to_the_management_of_Audax_Club_Parisen_and_the_entire.pdf">
            <i class="fas fa-file-pdf"></i>
            dec-27 dec-27 RE_Open_letter_to_the_management_of_Audax_Club_Parisen_and_the_entire.pdf
        </a></li>
        <li><a href="/public/dec-27 Untitled.pdf">
            <i class="fas fa-file-pdf"></i>
            dec-27 Untitled.pdf
        </a></li>
        <li><a href="/public/dec-28 Untitled (1).pdf">
            <i class="fas fa-file-pdf"></i>
            dec-28 Untitled (1).pdf
        </a></li>
        <li><a href="/public/mar-1 Open Letter 4.pdf">
            <i class="fas fa-file-pdf"></i>
            mar-1 Open Letter 4.pdf
        </a></li>
        <li><a href="/public/mar-9 Luc COPPIN.pdf">
            <i class="fas fa-file-pdf"></i>
            mar-9 Luc COPPIN.pdf
        </a></li>
        <li><a href="/public/mar-30 Gmail - Open letter to Audax Club Parisien regarding war in Ukraine and the Russian Federation aggression.pdf">
            <i class="fas fa-file-pdf"></i>
            mar-30 Gmail - Open letter to Audax Club Parisien regarding war in Ukraine and the Russian Federation aggression.pdf
        </a></li>
        <li><a href="/public/jun-13 Gmail - [Organisation BRM] Termination of cooperation with Audax Dnipro club.pdf">
            <i class="fas fa-file-pdf"></i>
            jun-13 Gmail - [Organisation BRM] Termination of cooperation with Audax Dnipro club.pdf
        </a></li>
    </ul>

    <a href="/2022/06/12/partnership-termination-with-ACP.html">Останній лист клубу Audax Dnipro до Audax Club Parisien</a>

    <p class="my-5">
        Окремо дякую німецькому клубу <a href="http://ara-berg.de/">ARA Bergisches Land</a>, який солідарно з нами припинив співпрацю із ACP
    </p>

    <hr>

    <p class="my-5">
        Audax Dnipro було створено за підтримки і сприяння клубів
        <a href="https://moguls-audax.org.ua" target="_blank" rel="noreferrer,noopener">
            Moguls Audax
        </a>
        та
        <a href="https://sites.google.com/site/audaxkharkov/" target="_blank" rel="noreferrer,noopener">
            Audax Kharkov
        </a>
        і є членом асоціації рандонерів
        <a href="https://sites.google.com/site/randonneursgo/association-randonneurs-ukraine" target="_blank"
           rel="noreferrer,noopener">
            Randonneurs Ukraine
        </a>
    </p>

    <hr class="d-none">

    <h4 class="pb-3 d-none">Бревети на сезон 2021</h4>

    <div class="row mb-5 d-none">
        <div class="col-lg-4">
            {% include_relative brevets/_list.html event_source=site.brevets2021 %}
        </div>

        <div class="col-lg-8 d-none d-lg-block">
            {% include_relative brevets/_calendar.html year=2021 event_source=site.brevets2021 %}
        </div>
    </div>

</div>
