---
title: Головна
layout: main
---
<style>
    @media (min-width:992px) {
        .main_page__logo {
            border-right:1px solid #dee2e6;
        }
    }
</style>
<div class="jumbotron jumbotron-fluid text-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-12 main_page__logo text-center">
                <object data="/img/audax_dnipro-01.svg" alt="Audax Dnipro logo" type="image/svg+xml" style="height:150px;"></object>
            </div>
            <div class="col-lg-8 col-12 text-center">
                <p class="lead">
                    Рандонерський клуб Audax Dnipro – організатор велозаїздів за правилами французького клубу
                    Audax Club Parisien (Парижський клуб відчайдушних).
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <p class="my-5">
        Метою нашого клубу є проведення серії заходів – бреветів – велозаїздів на фіксовані дистанції з обмеженим
        максимальним часом проходження. Кожний учасник заїзду (рандонер), що пройде дистанцію за цей час (не перевищуючи
        заданого максимуму), вважається переможцем. Кожен учасник, який виконав усі вимоги бревету, має можливість за
        власні гроші отримати медаль від Audax Club Parisien.
    </p>

    <p class="my-5">
        Таким чином, бревет – це змагання кожного учасника із самим собою за свої можливості. Це пригода, яка дає змогу
        перевірити свою готовність до певних обставин та умов. Це подорож, яку можна провести сам на сам або в компанії
        друзів. Якщо ти готовий кинути собі цей виклик – приєднуйся до нас у наступних заїздах.
    </p>

    <p class="my-5">
        Audax Dnipro було створено за підтримки і сприяння клубів <a href="https://moguls-audax.org.ua">Moguls Audax</a>
        та <a href="https://sites.google.com/site/audaxkharkov/">Audax Kharkov</a>
        і є членом асоціації рандонерів
		<a href="https://sites.google.com/site/randonneursgo/association-randonneurs-ukraine">Randonneurs Ukraine</a>
    </p>


    <hr>

    <h4 class="pb-3">Бревети на сезон 2020</h4>

    <div class="row">
        <div class="col-lg-4">
            {% include_relative brevets/_list.html %}
        </div>

        <div class="col-lg-8 d-none d-lg-block">
            {% include_relative brevets/_calendar.html %}
        </div>
    </div>

</div>
