<footer class="footer mt-auto py-3  bg-light">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-6">
                <h5>Про клуб</h5>
                <p class="small">
                    Клуб Audax Dnipro є членом асоціації рандонерів <a href="https://sites.google.com/site/randonneursgo/association-randonneurs-ukraine" target="_blank" rel="noopener,noreferer">Randonneurs Ukraine</a>
                    та офіційно зареєстрований в Audax Club Parisien, код: 550029
                </p>
                <h5>Контакти</h5>
                <p class="small">
                    По всім питанням щодо роботи сайту чи проведення бреветів у Дніпрі звертайтесь на пошту
                    <a href="mailto:audax.dnipro@gmail.com">audax.dnipro@gmail.com</a>
                </p>
            </div>

            <div class="col-sm-12 col-md-6">
                <h5>Соціальні мережі</h5>
                <p class="small">
                    <a target="_blank" rel="noopener noreferer" href="https://www.strava.com/clubs/audax-dnipro">
                        <i class="fab fa-strava" style="color: #fc4c02"></i>
                        Клуб Strava
                    </a>
                    <br>
                    <a target="_blank" rel="noopener noreferer" href="https://www.facebook.com/groups/audax.dnipro">
                        <i class="fab fa-facebook-square" style="color: #4267b2"></i>
                        Група Facebook
                    </a>
                    <br>
                    <a target="_blank" rel="noopener noreferer" href="https://www.instagram.com/audax.dnipro/">
                        <i class="fab fa-instagram-square" style="color: #8a3ab9"></i>
                        Сторінка Instagram
                    </a>
                </p>
            </div>

        </div>
    </div>
</footer>
