<footer class="footer mt-auto py-3  bg-light">
    <div class="container">
        <div class="row">

            <div class="col-6">
                <h5>Контакти</h5>
                <p class="small">
                    По всім питанням щодо роботи сайту чи проведення бреветів у Дніпрі звертайтесь на пошту
                    <a href="mailto:audax.dnipro@gmail.com">audax.dnipro@gmail.com</a>
                </p>
            </div>

            <div class="col-6">
                <h5>Соціальні мережі</h5>
                <p class="small">
                    <i class="fab fa-strava" style="color: #fc4c02"></i>
                    Клуб Strava:
                    <a target="_blank" href="https://www.strava.com/clubs/audax-dnipro">https://www.strava.com/clubs/audax-dnipro</a>

                    <br>


                    <i class="fab fa-facebook-square" style="color: #4267b2"></i>
                    Група Facebook:
                    <a target="_blank" href="https://www.facebook.com/groups/audax.dnipro">https://www.facebook.com/groups/audax.dnipro</a>
                </p>
            </div>

        </div>
    </div>
</footer>
