<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>
    {% if page.layout == 'brevet' %}
        BRM {{ page.brevet.distance | escape }} - {{ page.brevet.title | escape }} | {{ site.title | escape }}
    {% elsif page.title %}
        {{ page.title | escape }} | {{ site.title | escape }}
    {% else %}
        {{ site.title | escape }}
    {% endif %}
</title>

<style>
    .navbar-light .navbar-nav .nav-link {
        color: rgba(0,0,0,0.7);
    }
    a {
        color: #0048cc;
    }
</style>

<meta name="theme-color" content="#f8f9fa">
