<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        {% if page.title %}
            {{ page.title | escape }} - {{ site.title | escape }}
        {% else %}
            {{ site.title | escape }}
        {% endif %}
    </title>

    <link rel="stylesheet" href="{{"/css/bootstrap.min.css" | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
</head>
