<header class="fixed-top navbar navbar-expand-lg navbar-light bg-light shadow-sm">

    <div class="container">

        <a class="navbar-brand" href="{{"/" | relative_url }}">
            <img height="40" src="{{"/img/logo.svg" | relative_url }}" alt="Audax Dnipro logo">
<!--            <object data="/img/logo.svg" style="height: 46px" type="image/svg+xml"></object>-->
            <!-- {{ site.title }} -->
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarLinks">


            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ "/news"|relative_url }}">Новини</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">Бревети</a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ '/brevets/2020' |relative_url }}">2020</a>
                        <a class="dropdown-item" href="{{ '/brevets/2021' |relative_url }}">2021</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ "/for-participants/rules"|relative_url }}">Положення </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ "/contacts"|relative_url }}">Контакти</a>
                </li>
            </ul>

        </div>
    </div>
</header>
