<div class="row">
    <div class="col">
        <dt>Контрольні точки</dt>
        <dd>
            <ul>
                {% for point in route_object.control_points %}
                <li>{{ point.title }}: {{ point.distance }}км. (+{{ point.start }} – +{{ point.finish }})</li>
                {% endfor %}
            </ul>
        </dd>
    </div>
    <div class="col">
        <iframe width="100%" height="650px" src="{{ route_object.track }}" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
