---
layout: default
---
{% if page.brevet.title %}
    {% assign brevet_title = "BRM "|append:page.brevet.distance|append:" – "|append:page.brevet.title %}
{% else %}
    {% assign brevet_title = "BRM "|append:page.brevet.distance %}
{% endif %}

{% assign distance = page.brevet.distance|strip %}

{{ content }}

<div class="container my-4">
    <div class="d-flex w-100 justify-content-between">
        <h1 class="mb-1 h3">{{ brevet_title }}</h1>
        {% if page.brevet.active and page.brevet.registration_form %}
        <a class="btn btn-primary" target="_blank" rel="noreferrer,nofollow" href="{{ page.brevet.registration_form }}">
            <i class="fas fa-clipboard"></i>
            Зареєструватись
        </a>
        {% endif %}
    </div>

    <hr>

    <div class="alert alert-primary" role="alert">
        В сезоні 2021 ви маєте можливість вибрати дату старту в межах плюс-мінус 7 днів від офіційної дати проведення бревета після погодженням з організатором.
    </div>

    <div class="row">

        <div class="col-12">
            <dl>
                <dt>
                    Дата та час старту
                    <a
                        href="https://www.google.com/calendar/event?action=TEMPLATE&dates={{ page.brevet.start }}/{{ page.brevet.finish }}&text={{ brevet_title }}&location={{ page.brevet.control_points[0].title|url_encode }}&details={{ page.brevet.description|p_to_each_line|url_encode }}"
                        title="Додати подію в Google calendar"
                        target="_blank"
                    >
                        <i class="far fa-calendar-plus"></i>
                    </a>
                </dt>
                <dd>
                    {{ page.brevet.start | ua_date: true }}
                </dd>
                <dt>
                    Дата та час фінішу
                </dt>
                <dd>
                    {{ page.brevet.finish | ua_date: true }}
                </dd>

                <dt>Дистанція</dt>
                <dd>{{ page.brevet.distance }} км.</dd>
            </dl>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    {% for route in page.brevet.routes %}
                        {% assign route_object = site.data.brevets[distance][route] %}

                        <a class="nav-link {% if forloop.first %}active{% endif %}"
                           id="route-{{route}}-tab"
                           data-toggle="tab"
                           href="#route-{{route}}"
                           role="tab"
                           aria-controls="route-{{route}}"
                           aria-selected="true"
                        >{{route_object.title}}</a>
                    {% endfor %}
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                {% for route in page.brevet.routes %}
                    <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="route-{{route}}" role="tabpanel" aria-labelledby="route-{{route}}-tab">
                        {% assign route_object = site.data.brevets[distance][route] %}
                        {% include route.html route_object=route_object %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% if page.brevet.results %}
        {% include results.html results=page.brevet.results %}
    {% endif %}
</div>
